body{
    margin:20px;
    padding:0px;
}
.navbar{
   display:flex;
   background-color: rgb(54, 5, 99);
   color: rgb(2, 6, 7);
   justify-content: center;
   position:fixed;
   top:0;
   width: 100%;
   overflow: hidden;
}
h2{
    text-align: center;
    font-size: 40px;
}

  .navbar a {
    float: left;
    color: #f7f4f4;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 30px;
  }
  
   .navbar a:hover {
    background-color: #ddd;
    color: black;
  }
.container {
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-auto-rows: 100px 300px;
    grid-gap:10px;
    grid-auto-flow:dense;
    padding-top: 70px;
    
  }
  .item{
      width:100%;
      height:100%;
      position:relative;
  }
  .item .image{
      width:100%;
      height:100%;
      overflow:hidden;
        }
  .item .image img{
      width:100%;
      height:100%;
      object-fit: cover;
      object-position: 50% 50%;
      cursor:pointer;
      transition: 0.5s ease-in-out;
  }    
  .item:hover .image img{
      transform:scale(1.5);
      background-color: beige;
  }  
  .w-1{
      grid-column: span 1;
  }
  .w-2{
      grid-column: span 2;
  }
  .w-3{
    grid-column: span 3;
}
.w-4{
    grid-column: span 4;
}
.w-5{
    grid-column: span 5;
}
.w-6{
    grid-column: span 6;
}
.w-1{
    grid-column: span 1;
}
.h-2{
    grid-row: span 2;
}
.h-3{
    grid-row: span 3;
}
.h-4{
    grid-row: span 4;
}

.h-1{
    grid-row: span 1;
}

@media screen and (max-width:500px) {
    .container{
        grid-template-columns: repeat(2,1fr);
    }
}